### 1. What will be the output of the following python programming

* a) Error
* b) None
* c) False
* d) True

In [2]:
def foo(x):
    x[0] = ['def'] 
    x[1] = ['abc'] 
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))

True

### 2. What will be the output of the following Python code

* a) error,there is more than one return statement in asingle try-finally block
* b) 1
* c) 1 2
* d) 2

In [6]:
def fun():
    try:
        return 1
    finally:
        return 2
k = fun()
print(k)

2

### 3. What will be the output of the following code snippet

* a)Local
* b)Global
* c) None
* d) Cannot be predicted

In [7]:
def func(): # you define a function func() that uses the global keyword to refer to the global variable value
    global value # you have a global variable value initially set to "Global".
    value = "Local" # assign it the value "Local".

value = "Global" # value is initially set to "Global."
func() # The function func() is called, which changes the value of the global variable value to "Local" using the global keyword.
print(value)

Local

### 4) __________ exceptions are raised as a result of an error in opening a particular file

* a) ValueError
* b) TypeError 
* c) ImportError
* d) IOError

In [ ]:
ANSWER---d)IOError

### 5) In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed

a) x = 13 // 2 b) x = int(13 / 2) c) x = 13 % 2 d) All of the mentioned

In Python, the type of a variable is dynamically determined at runtime, and you don't need to explicitly specify types in most cases. Let's analyze the given operations:

a) x = 13 // 2: This performs integer division, and the result is 6 (the floor division of 13 by 2). The type of x will be an integer.

b) x = int(13 / 2): Here, you're explicitly converting the result of the division to an integer using the int() function. The result is 6, and the type of x will be an integer.

c) x = 13 % 2: This performs the modulus operation, and the result is 1. The type of x will be an integer.

 d) All of the mentioned

Answer
* d) All of the mentioned

### 6. What will be the output of the following pthon code

* a) IndexError
* b) NameError
* c) TypeError
* d) SyntacticalErroor

In [9]:
t[5]

NameError: name 't' is not defined

ANSWER --- b) NameError

### 7) A while loop is used for indefinite iteration.

* a)Indefinite 
* b) Discriminant 
* c) Definite 
* d) Indeterminate

##### Answer
* a) Indefinite

### 8. What will be the output of the following Python code

* a) a b c d e f
* b) abcdef
* c) i i i i ....
* d) Error

In [10]:
x = " abcde "
while i in x: # The while loop in Python is typically used with a condition that evaluates to either True or False. In your initial code:
    print(i,end=" ")

NameError: name 'i' is not defined

##### Answer :
d) Error

### 9. What is main advantage of using decorators in Python

* a) They make the code more complex
* b) simplify the syntax of the decorated functions
* c) They reducxe the performance of the code
* d) They provide additional security features

##### Answer
b) Simplify the syntax of the decorated functions

### 10. If return statement is not used inside the function, the funtion will return

* a) None
* b) 0
* C) Null
* d) Arbitary Value

##### Answer
a) None

### 11. When a function is defined inside a class it is called as __________

* a) Class
* b) Function
* c) Method
* d) Module

##### Answer
c) Method

### 12. Which operator is used in python to import modules from packages

* a) .
* b) *
* c) ->
* d) &

##### Answer is
a) .

### 13-Question

* a)ValueError
* b) Invalid
* c) 6
* d) ValueError('Invalid')

In [11]:
def getMonth(m):
    if m<1 or m>12:
         raise ValueError("Invalid")
    print(m)
getMonth(6)

6

### 14. In python programming Language syntax error is detected by _____ at ____

* a) Interpreter/Compile Time
* b) RunTime/Interpreter
* c) Interpreter/Runtime
* d) Compile time/Runtime

##### Answer
c) Interpreter/Runtime

### 15.

* a) Both book1 and book2 will have reference to two different objects of class Book
* b) id(book1) and id(book2) will have same value
* c) It will throw an Error as multiple references to same object is not possible
* d) None of the above

In [13]:
class Book: # Defines a class named Book
    def __init__(self,author): # __init__ method to initialize instances with an author attribute.
            self.author=author
book1=Book("V.M.Shah") # Creates an instance of the Book class named book1 with the author set to "V.M.Shah."
book2=book1 # Creates another reference (book2) to the same object that book1 refers to. Both book1 and book2
# now point to the same instance of the Book class.

# Now, both book1 and book2 reference the same instance of the Book class, and 
# any changes made to the object through one variable will be reflected in the other.
id(book1)

2048520403856

In [14]:
id(book2)

2048520403856

##### Answer
b) id(book1) and id(book2) will have same value

## DATA ANALYSIS MODULES

In [16]:
import pandas as pd,numpy as np

In [18]:
data=pd.DataFrame({'date':['2024-01-01','2024-01-02','2024-01-03','2024-01-10','2024-01-9','2024-01-8'],
             'Category':['Beverage','Food','Beverage','Beverage','Beverage','Food'],
             'Product':['Cappuccino','Croissant','Espresso','Latte','Lattle','Muffin'],
             'Customer-Id':['C004','C002','C001','C001','C003','C002'],
             'Quantity':[1,2,2,3,1,1,],
             'UnitPrice':[3,2,2,3.5,3.5,2.5]})
data

         date  Category     Product Customer-Id  Quantity  UnitPrice
0  2024-01-01  Beverage  Cappuccino        C004         1        3.0
1  2024-01-02      Food   Croissant        C002         2        2.0
2  2024-01-03  Beverage    Espresso        C001         2        2.0
3  2024-01-10  Beverage       Latte        C001         3        3.5
4   2024-01-9  Beverage      Lattle        C003         1        3.5
5   2024-01-8      Food      Muffin        C002         1        2.5

### 16. How to Create a new column Revenue which has value equals to the Quantity * UnitPrice of the current row

* a)df['Revenue'] = df['Quantity'] * df['UnitPrice']
* b)df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=1)
* c)df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=0)
* d)df['Revenue'] = df['Quantity'] ** df['UnitPrice']

In [22]:
data['Revenue'] = data['Quantity'] * data['UnitPrice']#a
data['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

In [24]:
data['Revenue'] = data.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=1)#b
data['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

In [25]:
data['Revenue'] = data.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=0)#c

KeyError: 'Quantity'

In [27]:
data['Revenue'] = data['Quantity'] ** data['UnitPrice']#d
data['Revenue']

0     1.000000
1     4.000000
2     4.000000
3    46.765372
4     1.000000
5     1.000000
Name: Revenue, dtype: float64

### 17. What is the syntax to find Categorical wise revenue

* a) df.groupby('Category')['Revenue'].mean()
* b) df.groupby('Category')['Revenue'].sum()
* c) df.groupby('Category')['Revenue'].agg(np.sum)
* d) df.groupby('Category')['Revenue'].agg('sum')

In [28]:
data.groupby('Category')['Revenue'].mean()
#a

Category
Beverage    13.191343
Food         2.500000
Name: Revenue, dtype: float64

In [29]:
data.groupby('Category')['Revenue'].sum()
#a

Category
Beverage    52.765372
Food         5.000000
Name: Revenue, dtype: float64

In [31]:
data.groupby('Category')['Revenue'].agg(np.sum)#c

Category
Beverage    52.765372
Food         5.000000
Name: Revenue, dtype: float64

### 18 ) to find the average quantity wrt to date and product,what is the correct syntax ?(

* df.groupby(['Date','Product'])['Quantity'].avg()
* df.groupby(['Date','Product'])['Quantity'].mean()
* df.groupby(['Product','Date'])['Quantity'].avg()
* df.groupby(['Product','Mean'])['Quanity'].mean()

In [34]:
data.groupby(['date', 'Product'])['Quantity'].mean()

date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-10  Latte         3.0
2024-01-8   Muffin        1.0
2024-01-9   Lattle        1.0
Name: Quantity, dtype: float64

##### Answer
b.)df.groupby(['Date','Product'])['Quantity'].mean()

### 19.Categorical wise revenue for Bevarage and Food respectively are

* a) 28.5 , 6.0
* b) 6.0 , 27.5
* c) 28.5 ,7.0
* d) 7.0 , 28.5

In [35]:
result = data.groupby('Category')['Revenue'].sum()

print(result['Beverage'], result['Food'])

52.76537180435969 5.0

### 20. Using transform, What is the syntax to create a column which has a unitprice difference wrt its category mean

* a) df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())
* b) df.groupby('Category')('UnitPrice').transform(lambda x: x - x.mean())
* c) df.groupby['Category']['UnitPrice'].transform(lambda x: x - x.mean())
* d) df.groupby(['Category','UnitPrice']).transform(lambda x: x - x.mean())

In [37]:
data.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

##### Answer
a) df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

### 21. What is the correct syntax to get data wrt 'Monday'

* a) df.groupby(df.Date.dt.day_name()).get_group('Monday')
* b) df.groupby(df.Date.dt.dayname()).get_group('Monday')
* c) df.groupby(df.Date.dt.dayofweekname()).get_group('Monday')
* d) df.groupby(df.Date.dt.day_of_weekname()).get_group('Monday')

### 22. Which of the following statements is / are true

* a) apply() can be applied on rows
* b) Aplly function can't be applied on rows
* c) Apply applies the function on the entire series at a time
* d) Apply applies the function one cell at a time

##### Answer
c) Apply applies the function on the entire series at a time

### 23. Which of the following statements is / are true

* a) Map applies the functionality on entire DataFrame
* b) Applymap applies the functionality on series be it ro or a column
* c) Apply and Map are vectorized applications
* d) None of the above

##### Answer
c) Apply and Map are vectorized applications

In [43]:
df1=pd.DataFrame({'Date':['2024-01-10','2024-01-11','2024-01-10','2024-01-12','2024-01-11','2024-01-12'],
                 'Region':['North','South','East','West','North','East'],
                 'Salesperson':['Ajay','Balu','Chirag','Ajay','Balu','Chirag'],
                 'Product':['Notebook','Pen','Notebook','Pen','Binder','Binder'],
                 'Quantity':[5,10,7,15,20,10],
                 'Untprice':[12,3,12,3,5,5]})
df1

         Date Region Salesperson   Product  Quantity  Untprice
0  2024-01-10  North        Ajay  Notebook         5        12
1  2024-01-11  South        Balu       Pen        10         3
2  2024-01-10   East      Chirag  Notebook         7        12
3  2024-01-12   West        Ajay       Pen        15         3
4  2024-01-11  North        Balu    Binder        20         5
5  2024-01-12   East      Chirag    Binder        10         5

### 24. create a pivot table with index ass Nort and South and Columns as Product Where values are sum of Quantities Sold

* a) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')
* b) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
* c) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
* d) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

In [44]:
df1[df1['Region'].isin(['North','South'])].pivot_table(index='Region',columns='Product',values='Quantity',aggfunc='sum')

Product  Binder  Notebook   Pen
Region
North      20.0       5.0   NaN
South       NaN       NaN  10.0

##### Answer
a.)df1[df1['Region'].isin(['North','South'])].pivot_table(index='Region',columns='Product',values='Quantity',aggfunc='sum')

### 25. Which of the following statements is/are True

* a) .iloc method includes the last element when used for slicing
* b) .loc method doesn't includes the last element when used for slicing
* c) .loc method includes the last element and pass default integer index of rows when slicing
* d) None of above

##### Answer
c)

### 26. Using a pivot table is it possible to create a multi-index dataframe ,if so what is the syntax to have a multi index of date and region, with total product sold as values

* a) No we can't create a multiindex table using pivot table
* b) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')
* c) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')
* d) None of these

In [45]:
df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

Product            Binder  Notebook   Pen
Date       Region
2024-01-10 East       NaN       7.0   NaN
           North      NaN       5.0   NaN
2024-01-11 North     20.0       NaN   NaN
           South      NaN       NaN  10.0
2024-01-12 East      10.0       NaN   NaN
           West       NaN       NaN  15.0

### 27. What does the margins parameter in pivot_table() allows to include in the pivot table

* a) Additional margins and subtotals for rows and columns
* b) A list of column names to exclude from the pivot table
* c) The number of rows and columns to skip at the beginning of the pivot table
* d) The maximum number of rows and columns to display in the pivot table

Answer
a)

In [46]:
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']
}

df2 = pd.DataFrame(data)

df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

### 28. If we choose to imputing missing values in Price Col by Chaining ffill() and bfill() while limiting the imputation to 1,1 respectively , how many missing values will be left post imputation

* a) 2
* b) 0
* c) 1
* d) 3

In [50]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)
df2

    Fruits  Price
0    apple  205.0
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple   40.0
18   grape    NaN

### 31. a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]) What will be the output of a.interpolate()

* a) [nan,1.0,2.0,2.3,2.7,3.1,3.5,4.0,5.0,7.0]
* b) [nan,1.0,2.0,2.5,2.9,3.3,3.8,4.0,5.0,7.0]
* c) [nan,1.0,2.0,2.4,2.8,3.2,3.6,4.0,5.0,7.0]
* d) Error

In [51]:
a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7])

a.interpolate()

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

### 32. What is the use of the normalization parameter in the crosstab method of pandas

* a) It is used to normalize values by dividing them by the total count
* b) to add margins
* c) ther is no parameter called as normalize in crosstab
* d) Both a & c

##### answer--a)